.navLink {
    color: #0066cc;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    transition: all 0.18s ease;

    &:hover,
    &:focus {
        color: #004080;
        text-decoration: underline;
        text-underline-offset: 4px;
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}