.card {
  border: 1px solid rgba(124, 255, 200, 0.67);
  border-radius: 12px;
  overflow: hidden;
  background-color: rgba(128, 198, 255, 0.75);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  max-width: 320px;
  cursor: pointer;
  margin: 10px;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }

  .name {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 12px;
    color: #333;
    text-align: center;
  }

  .characterImage {
    border-radius: 8px;
    object-fit: cover; // Гарантирует, что фото не растянется
  }
}