.global{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.title {
    font-weight: bold;
    font-size: 25px;
    padding: 15px;
    text-align: center;
}